<!DOCTYPE html>
<html>
    <head>
        <title>NFC Actions</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
        <script type="text/javascript" src="{{ url_for('static', filename='js/main.js')}}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
</script>
    </head>
    <body>
    <!-- LOGO -->
    <div>
        <img SRC="https://raw.githubusercontent.com/tdp1000/WebNFCSonos/main/MusicLogo1.png" alt="card action app logo">
        <title>NFC Actions</title>
    </div>
    <div id="card_actions">
        <!--form action ="/card_actions" method="post"-->
        <form>
            <table class="tg">
                <thead>
                  <tr>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax">Identity</th>
                    <th class="tg-0lax">Name</th>
                    <th class="tg-0lax">Service</th>
                    <th class="tg-0lax">Type</th>
                    <th class="tg-0lax">Url</th>
                  </tr>
                </thead>
                <tbody>

                  <tr>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                      <td class="tg-0lax"></td>
                      <td class="tg-0lax"></td>
                      <td class="tg-0lax"></td>
                      <td class="tg-0lax"></td
                  </tr>


            {% for item in all_items%}
                  <tr>
                    <td class="tg-0lax">

            <input type="checkbox" name="check" id="{{'cb_'+item[0]}}" value="{{item[0]}}" onchange="check_me('{{ item[0] }}')">
                    </td>
                      <td class="tg-0lax">
            <label for="{{items}}" name="{{'lb_'+item[0]}}">{{ item[0] }} </label>
                      </td>
                      <td class="tg-0lax">
            <input type="text" name="name" id="{{ 'name_'+item[0] }}" value="{{ item[1] }}" oninput="change_me('{{ item[0] }}',name)">
                   </td>
                      <td class="tg-0lax">
            <select name="select_action_type" id="{{'sat_'+item[0]}}" onchange="change_me('{{ item[0] }}','sat')">
                <option value="{{ item[3] }}"selected>{{ item[3] }}</option>>
                    {% for x in ['spotify','other'] %}
                        {% if x == item[3] %}
                        {% else %}
                        <option value="{{ x }}">{{ x }}</option>
                        {% endif %}
                    {% endfor %}

            </select>
                       </td>
                      <td class="tg-0lax">
            <select name="select_service_type" id="{{'serv_'+item[0]}}" onchange="change_me('{{ item[0] }}','serv')">
                <option selected value="{{ item[2] }}">{{ item[2] }}</option>>
                    {% for x in ['playlist','album', 'track'] %}
                        {% if x == item[2] %}
                        {% else %}
                        <option value="{{ x }}">{{ x }}</option>
                        {% endif %}
                    {% endfor %}

            </select>
                      </td>
                       <td class="tg-0lax">
            <input type="text" name="url" id="{{ 'url_'+item[0] }}" value="{{ item[4] }}" oninput="change_me('{{ item[0] }}',name)">
                       </td>
                      </tr>
            {% endfor %}
                    </tbody>
                </table>
            <input type="submit" value="CHECK ITEMS" id="remove_btn">
        </form>
    </div>
        <div id = "add item">
            <form action="add_items" method="POST">
                <select name="select_items">
                    {% for item in all_items %}
                    <option value="{{ item }}">{{ item[0] }}</option>
                    {% endfor %}

                </select>
                <input name="card_action" type="text" value="Card Action">
                <input type="submit" value="ADD ITEM" id="add_btn">
            </form>
        </div>

    </body>
</html>